<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ControlCash | Fauzy Sousa</title>

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- BOOTSTRAP ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/projetos.css" />
  </head>

  <body>
    <!-- NAVBAR -->
    <header class="navbar">
      <div class="container">
        <div class="logo">
          <img src="../../images/logo.png" alt="Logo" />
        </div>
      </div>
    </header>

    <main class="content">
      <div class="container">
        <!-- BOTÃO VOLTAR -->
        <a href="../../index.html" class="btn-back">
          <i class="bi bi-arrow-left"></i>
          Voltar
        </a>

        <!-- HERO -->
        <section class="project-header">
          <h1>ControlCash</h1>
          <p class="project-subtitle">
            API de controle financeiro construída com Java e Spring Boot. Implementa autenticação robusta com Spring Security e JWT, garantindo o gerenciamento seguro e estruturado de movimentações de financeiras.
          </p>

          <div class="header-actions">
            <a
              href="https://controlcash-d87t.onrender.com"
              target="_blank"
              class="btn-primary"
            >
              Ver Projeto Online <i class="bi bi-box-arrow-up-right"></i>
            </a>

            <a
              href="https://github.com/FauzySousa/ControlCash"
              target="_blank"
              class="btn-secondary"
            >
              Ir para o Repositório <i class="bi bi-github"></i>
            </a>
          </div>

          <!-- TECH STACK -->
          <div class="tech-stack">
            <span>Java</span>
            <span>Spring Boot</span>
            <span>Swagger</span>
            <span>Docker</span>
            <span>Spring Security</span>
            <span>Flyway</span>
            <span>Thymeleaf</span>
          </div>
        </section>

        <!-- VIDEO -->
        <section class="video-section">
          <div class="video-wrapper">
            <video controls autoplay muted loop>
              <source src="#" type="video/mp4" />
            </video>
          </div>
        </section>

        <!-- FEATURES SECTION - 3 Destaques Principais -->
        <section class="features-section">
          <div class="container">
            <h2>Destaques Técnicos</h2>
            <p
              style="
                color: var(--text-secondary);
                margin-bottom: 40px;
                margin-top: -10px;
              "
            >
              Desenvolvido com as melhores práticas de mercado.
            </p>

            <div class="features-grid">
              <!-- Card 1: Transacoes -->
              <div class="feature-card">
                <i class="bi bi-briefcase"></i>
                <h3>Transações</h3>
                <p>
                  Gerencie receitas e despesas com categorização inteligente.
                </p>
              </div>

              <!-- Card 2: Reletórios -->
              <div class="feature-card">
                <i class="bi bi-bar-chart-line"></i>
                <h3>Relatórios</h3>
                <p>
                  Gere relatórios detalhados e insights poderosos.
                </p>
              </div>

              <!-- Card 3: segurança-->
              <div class="feature-card">
                <i class="bi bi-shield"></i>
                <h3>Segurança</h3>
                <p>
                  Dados protegidos com criptografia de ponta.
                </p>
              </div>

              <!-- Card 4: Categorias -->
              <div class="feature-card">
                <i class="bi bi-tag"></i>
                <h3>Categorias</h3>
                <p>
                  Organize suas finanças com categorias personalizadas.
                </p>
              </div>

              <!-- Card 5: Metas -->
              <div class="feature-card">
                <i class="bi bi-clock"></i>
                <h3>Metas</h3>
                <p>
                  Crie e acompanhe metas financeiras facilmente.
                </p>
              </div>

              <!-- Card 6:  Documentação Completa-->
              <div class="feature-card">
                <i class="bi bi-file-earmark-text"></i>
                <h3>Documentação Completa</h3>
                <p>
                  Guias, exemplos e SDKs para facilitar a integração.
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- REDES SOCIAIS -->
        <section class="social-links">
          <a
            href="https://github.com/FauzySousa"
            target="_blank"
            class="social-btn github"
            title="GitHub"
          >
            <i class="bi bi-github"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/fauzy-sousa-974a98409"
            target="_blank"
            class="social-btn linkedin"
            title="LinkedIn"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </section>
      </div>
    </main>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <p>© 2026 Fauzy Denisson Rodrigues de Sousa — Desenvolvedor Back-end</p>
      </div>
    </footer>
  </body>
</html>
